html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup,iframe{ margin:0; padding:0; border:0;  -webkit-font-smoothing:antialiased; font-family:"Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
html{ -webkit-text-size-adjust:none;}
body{ font-size:12px; line-height:22px; background:#fff;  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased;  color:#333;}
input,textarea{ resize:none; font-family:"Microsoft YaHei"; border-radius: 0;background: #fff;border: 0; -webkit-appearance: none;}
img{ border:none;vertical-align:middle; -ms-interpolation-mode: bicubic; max-width:100%;}
ul,li{ list-style:none;}
a{ text-decoration:none; color:#333; outline:none; }
a:hover{ color:#063b96;}
input:focus,textarea:focus{ outline:none; }
h1,h2,h3{  font-weight:normal;} 
::selection{ background:none; color:#333;}
::-moz-selection{ background:none; color:#333;}
::-webkit-selection{ background:none; color:#333;}
.or{ overflow:hidden;} 
@font-face { 
    [font-family: <family-name>;]? [src: [ <uri> [format(<string>#)]? | <font-face-name> ]#;]? [unicode-range: <urange>#;]? [font-variant: <font-variant>;]? [font-feature-settings: normal|<feature-tag-value>#;]? [font-stretch: <font-stretch>;]? [font-weight: <weight>]; [font-style: <style>]; 
    }

/*菜单*/
.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.container {padding-right:15px;padding-left:15px;  margin:0 auto;}
.container:before,.container:after {display: table;content: " ";}
.container:after {clear: both;}.container:before,
.container:after {display: table;content: " ";}
.container:after {clear: both;}

@media (min-width: 768px) {
  .container {width:810px;  padding:14px 0; }
}
@media (min-width: 992px) {
  .container {width:970px; }
}

@media (min-width: 1200px) {
  .container {width:1170px;   }
}
 

.collapse {display: none;}
.collapse.in {display: block;}
.collapsing {position: relative;height: 0;overflow: hidden;-webkit-transition: height 0.35s ease;transition: height 0.35s ease;}
.caret {display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px solid;
border-right: 4px solid transparent;border-left: 4px solid transparent;}
.dropdown {position: relative;}
.dropdown-toggle:focus {outline: 0;}

 

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {right: 0;left: auto;}
}


.nav {padding-left: 0;margin-bottom: 0;list-style: none;}
.nav:before,.nav:after {display: table;content: " ";}
.nav:after {clear: both;}
.nav:before,.nav:after {display: table;content: " ";}
.nav:after {clear: both;}
.nav > li {position: relative;display: block;}
.nav > li > a {position: relative;display: block;padding:0; margin-left:45px;}
.nav > li > a:hover,.nav > li > a:focus {text-decoration: none;}
 
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: #eeeeee;border-color: #428bca;}
.nav .nav-divider {height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;}
.nav > li > a > img {max-width: none;}

 

.navbar {position: relative;min-height: 50px;margin-bottom: 20px;border: 1px solid transparent;}
.navbar:before,
.navbar:after {display: table;content: " ";}
.navbar:after {clear: both;}
.navbar:before,
.navbar:after {display: table;content: " ";}
.navbar:after {clear: both;}

@media (min-width: 768px) {
 .navbar {border-radius: 4px;}
}

.navbar-header:before,
.navbar-header:after {display: table;content: " ";}
.navbar-header:after {clear: both;}
.navbar-header:before,
.navbar-header:after {display: table;content: " ";}
.navbar-header:after {clear: both;}
@media (min-width: 768px) {
  .navbar-header {float: left;}
}

.navbar-collapse {max-height: 340px;padding-right: 15px;padding-left: 15px;overflow-x: visible;border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);-webkit-overflow-scrolling: touch;}
.navbar-collapse:before,
.navbar-collapse:after {display: table;content: " ";}
.navbar-collapse:after {clear: both;}
.navbar-collapse:before,
.navbar-collapse:after {display: table;content: " ";}
.navbar-collapse:after {clear: both;}
/*.navbar-collapse.in {overflow-y: auto;}*/

@media (min-width: 768px) {
.navbar-collapse {width: auto;border-top: 0;box-shadow: none;}
.navbar-collapse.collapse {display: block !important;height: auto !important;padding-bottom: 0;overflow: visible !important;}
.navbar-collapse.in {overflow-y: visible;}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {padding-right: 0;padding-left: 0;}
}

.container > .navbar-header,
.container > .navbar-collapse {margin-right: -15px;margin-left: -15px;}

@media (min-width: 768px) {
.container > .navbar-header,
.container > .navbar-collapse {margin-right: 0;margin-left: 0;}
}

.navbar-static-top {z-index: 1000;border-width: 0 0 1px;}

@media (min-width: 768px) {
.navbar-static-top {border-radius: 0;}
}

.navbar-fixed-top,.navbar-fixed-bottom {position:fixed;right: 0;left: 0;z-index: 1030;}

@media (min-width: 768px) {
.navbar-fixed-top,
.navbar-fixed-bottom {border-radius: 0;}
}

.navbar-fixed-top {top: 0; border-width:0px;}
.navbar-fixed-bottom {bottom: 0;margin-bottom: 0;border-width:0;}
.navbar-brand {float: left; width:176px; height:52px; margin:0px 0 0 10px;  background:url(../images/logo_b.png) no-repeat; -webkit-background-size:auto 52px;  background-size:auto 52px; text-indent:-100000px;}
.navbar-brand:hover,
.navbar-brand:focus {text-decoration: none;}

@media (max-width: 768px) {
.navbar-brand{  width:120px; height:33px; -webkit-background-size:auto 33px;  background-size:auto 33px; margin:10px 0 0 10px}
 
}

@media (min-width: 768px) {
.navbar > .container .navbar-brand {margin-left: -15px;}}

.navbar-toggle {position: relative;float: right;padding: 9px 10px;margin-top: 8px;margin-right: 15px;margin-bottom: 8px;background-color: transparent;background-image: none;border: 1px solid transparent;border-radius: 4px; cursor:pointer;}
.navbar-toggle .icon-bar {display: block;width: 22px;height: 2px;border-radius: 1px; cursor:pointer;}
.navbar-toggle .icon-bar + .icon-bar {margin-top: 4px;}

@media (min-width: 768px) {
.navbar-toggle {display: none;}
}

.navbar-nav {margin: 7.5px -15px;}
 

@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {position: static;float: none;width: auto;margin-top: 0;background-color: transparent;border: 0;box-shadow: none;}
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {padding: 5px 15px 5px 25px;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 20px; color:#333;}
.navbar-nav {margin:0px -15px; background:rgba(255,255,255,.9);}
}

@media (min-width: 768px) {
.navbar-nav {float: left;margin: 0;}
.navbar-nav > li {float: left;}
.navbar-nav > li > a { padding:15px 5px 10px 5px;  line-height:20px; }
.navbar-nav.navbar-right:last-child {margin-right: -15px;}
.navbar-brand{ margin:0px 0 0 20px;}
}

@media (min-width: 768px) {
.navbar-left {float: left !important;}
.navbar-right {float: right !important;}
}
 
 
.navbar-nav > li > .dropdown-menu {margin-top: 0;border-top-right-radius: 0;border-top-left-radius: 0;}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.navbar-nav.pull-right > li > .dropdown-menu,.navbar-nav > li > .dropdown-menu.pull-right {right: 0;left: auto;}
.navbar-default {background:#fff;   -webkit-box-shadow:0 0 3px 0px rgba(0,0,0,.2); box-shadow:0 0 3px 0px rgba(0,0,0,.2);}
.navbar-default .navbar-brand {color: #222;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {color: #5e5e5e;background-color: transparent;}
.navbar-default .navbar-text {color: #222;}
.navbar-default .navbar-nav li a {color:#666666; font-size:16px; position:relative;}
.navbar-default .navbar-nav li a.active,
.navbar-default .navbar-nav li a:hover{color:#2478be; border-bottom:2px solid #2478be; }
.navbar-default .navbar-nav li a.active:after{ content:""; }

 

.navbar-default .navbar-toggle {border-color: none;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: none;}
.navbar-default .navbar-toggle .icon-bar {background-color:#666;}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #e7e7e7;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {color: #555555;background-color: #e7e7e7;}

@media (max-width: 767px) {
.navbar-default .navbar-nav > li > a{ text-align:center; margin:0; padding:5px 0 15px 0;}	
.navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #777777;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {color: #333333;background-color: transparent;}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {color: #555555;}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {color: #cccccc;background-color: transparent;}

.navbar-default .navbar-nav li a.active,
.navbar-default .navbar-nav li a:hover{  border-bottom:0px solid #2478be; }

}
.navbar-default .navbar-link {color: #777777;}
.navbar-default .navbar-link:hover {  color: #333333;}
 
.nav_aboutus{float: right;display:block;padding:15px 5px 10px 5px;margin-left:45px;font-size: 16px;line-height: 20px;color:#666;}
.nav_aboutus:hover{color: #2478be; border-bottom: 2px solid #2478be;}

.foot{ width:100%; background:#444; clear:both;}
.foot .con{ width:1200px; margin:35px auto; color:#dcdcdc; text-align:center;}
.foot .con p{ float:left; }
.foot .con span{ float:right;}
.foot .con span a{ color:#dcdcdc;}
.foot .con span a:hover{ text-decoration:underline;} 


/*右侧浮动*/  
.side-pannel {position:fixed; border:1px solid #e3e3e3; border-bottom:0; width:48px; bottom: 150px; right:0px; z-index:1199}
.side-bar-bd,
.side-bar a,
.side-bar .wx{width:48px;height:50px; background:#fff; position: relative; color: #676767;text-align:center;display:block; cursor:pointer; float:left; border-bottom:1px solid #e3e3e3; }
.side-bar-bd em,
.side-bar a em,
.side-bar .wx em { background: url(../images/goto.png) no-repeat; display: block; margin:10px auto 0 auto;}

.side-bar-bd em.g-icon-wx1,
.side-bar .wx em.g-icon-wx1{ background-position:0 0; width:22px; height:18px;}

.side-bar a em.g-icon-top{ background-position:0 -28px; width:20px; height:10px; margin:22px auto 0 auto;}
.side-bar .wx .wx_node{ width:135px;height:160px;position: absolute;left: -135px;top: 50%; margin-top:-60px;display: none;background-position: 0 0;}

.side-bar a.dh dl {background:#ffd7d8; width:160px;height:37px; padding-top:5px;position:absolute;left: -160px;top:50%; margin-top:-21px;display: none; text-align:center; line-height:18px; color:#fc3b3b;}
.side-bar a.dh:hover dl {display:block}
.side-bar a.dh dl dd{ font-size:16px; font-weight:bold;}
 
 
.foot{ width:100%; background:#444; clear:both;}
.foot .con{ width:1200px; margin:35px auto; color:#dcdcdc; text-align:center;}
.foot .con p{ float:left; }
.foot .con span{ float:right;}
.foot .con span a{ color:#dcdcdc;}
.foot .con span a:hover{ text-decoration:underline;} 
@media screen and (max-width:1220px){
.foot .con{ width:90%;}
}
@media screen and (max-width:470px){
.foot .con{ text-align:center;} 
.foot .con p{ width:100%; float:none; }
.foot .con span{ float:none; width:100%;}
.nav_aboutus {
    float: none;
    margin-left: 0;
    text-align: center;
}
}
#willesPlay{ width: 620px; height: 389px;  margin:30px auto 90px auto; position: relative;}
@media screen and (max-width: 619px){
    #willesPlay {
         width : 100%;
         height : 250px;
    }
} 
